* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 6fr;
}

.sidebar {
    grid-row: 1 / 3;
    background-color: rgb(25, 146, 212);
    padding: 8px;
}

.sidebar > ul {
    display: grid;
    gap: 8px;
}

.sidebar li, .sidebar-title {
    display: grid;
    grid-template-columns: 1fr 6fr;
    padding: 6px;
    gap: 6px;
}

li > svg, .sidebar-title > svg {
    padding-top: 3px;
}

svg {
    fill: white;
    height: 24px;
}

.card-icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.card-icons > svg {
    fill: black;
    height: 24px;
}

.sidebar div, .sidebar li {
    color: white;
    font-size: 22px;
}

.header {
    grid-column: 2 / 3;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 18px;
}

.search, .header-icons, .header-buttons {
    display: flex;
    padding: 8px;
    gap: 8px;
}

input {
    height: 25px;
    width: 550px;
    border-radius: 12px;
    outline: none;
}

.dashboard {
    background-color: rgb(226, 232, 240);
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 20px 50px;
    gap: 24px;
}

.projects {
    grid-row: 1 / 3;
}

.projects-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 12px;
}

.projects-cards .card {
    border-left: rgb(240, 180, 41) solid 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 16px;
}

.dashboard-title {
    font-weight: bold;
    font-size: 22px;
}

.title {
    font-weight: bold;
}

.announcements, .trending{
    
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.announcements{
    grid-row: 1 / 2;
}

hr {
    color: rgba(128, 128, 128, 0.644);
    
}

.announcement-container, .trending-container{
    display: grid;
    gap: 16px;
}


.announcement-container, .trending-container, .projects-cards .card {
    border-radius: 10px;
    background-color: white;
    padding: 22px;
}

.trending-card, .user-info{
    display: grid;
    grid-template-columns: 1fr 5fr;
    gap: 0px 12px;
}

.trending-card > img, .user-info > img{
    grid-row: 1 / 3;
}

.trending-card > .title, .welcome-message{
    align-self: end;
}

img {
    height: 50px;
    width: 50px;
    clip-path: circle();
}

.html, .body {
    padding: 0;
    margin: 0;
}